<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" th:src="@{/css/styles.css}"/>
    <script type="text/javascript" th:src="@{/js/main.js}" />
    <title>Tippmix</title>
</head>
<body>
<div class="jumbotron text-center">
    <h1>TK teszt</h1>
</div>
<div class="container">
    <div class="row">

        <div class="col-md-4">
            <div id="table_head"></div>
            <div id="table_footer"></div>
        </div>

    </div>
</div>
<div class="form-group">
    <select class="form-control" id="sportEvent">

    </select>
</div>


</body>
</html>